<p id="notice"><%= notice %></p>

<p>
  <strong>Hash:</strong>
  <%= @invite.hash %>
</p>

<p>
  <strong>Active:</strong>
  <%= @invite.active %>
</p>

<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
