!!! 5
%html
  %head
    %title Assine Agora!!!! DJAAA
    = stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.theme-whbl.pace-done
    .theme-wrapper
      %header#header-navbar.navbar
        .container
          = link_to "Assembleias", root_path, class: "navbar-brand"

          .clearfix
            %ul.nav.navbar-nav.navbar-right
              %li= link_to "Entrar", new_user_session_path

      %div#page-wrapper.container
        = yield
