<p id="notice"><%= notice %></p>

<div class="row">
  <% if @companies.empty? %>
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <div class="main-box infographic-box">
        <span>Nenhuma empresa cadastrada.</span>
      </div>
    </div>
  <% end %>

  <a href="<%= new_company_path %>">
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <div class="main-box infographic-box colored emerald-bg">
        <span>Nova Empresa</span>
      </div>
    </div>
  </a>
</div>

<div class="row">
  <% @companies.each do |company| %>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <a href="<%= company_path(company) %>" class="no_anchor_decoration">
        <div class="main-box clearfix profile-box-contact">
          <div class="main-box-body clearfix">
            <div class="profile-box-header gray-bg clearfix">
            <h2><%= company.name %></h2>
            <div class="job-position">
              <%= company.cnpj %>
            </div>
            <ul class="contact-details">
              <li>
              <i class="fa fa-map-marker"></i> New York
              </li>
              <li>
              <i class="fa fa-envelope"></i> company@e-mail.com
              </li>
              <li>
              <i class="fa fa-phone"></i> (329) 239-3342
              </li>
            </ul>
          </div>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>
