<p id="notice"><%= notice %></p>

<div class="row">

  <a href="<%= companies_path %>">
    <button type="button" class="btn btn-default">
      <span class="fa fa-arrow-left">&nbsp;</span>
      Voltar
    </button>
  </a>

  <div class="clearfix"><br><br></div>

  <div id="user-profile" class="row">

    <div class="col-lg-3 col-md-4 col-sm-4">
      <div class="main-box clearfix">
        <header class="main-box-header clearfix">
          <div align="center">
            <h2><%= @company.name %></h2>
          </div>
        </header>
        <div class="main-box-body clearfix">

          <div class="profile-since">
            <%= @company.cnpj %>
          </div>
          <div class="profile-details">
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-globe"></i> <%= @company.site %></li>
              <li><i class="fa-li fa fa-map-marker"></i>Rua abc da lorem ipsum, 123</li>
            </ul>
          </div>
          <div class="profile-message-btn center-block text-center">
            <a href="<%= edit_company_path(@company) %>" class="btn btn-success">
              <i class="fa fa-pencil"></i>
              Editar
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-8">
      <div class="main-box clearfix">
        <div class="tabs-wrapper profile-tabs">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-info" data-toggle="tab">Informações</a></li>
            <li><a href="#tab-admins" data-toggle="tab">Administradores</a></li>
            <li><a href="#tab-membros" data-toggle="tab">Membros</a></li>
          </ul>
          <div class="tab-content">

            <div class="tab-pane fade in active" id="tab-info">
              <h3>Pagamentos</h3>
              <p>
                Forma de pagamento (definir o que exibir aqui)
                <br><br>
                - Atualizar forma de pagamento<br>
                - Historico de pagamentos
              </p>

              <h3>Uso da conta</h3>

              <h3>Plano atual</h3>
              <div class="row">

                <% unless @company.plan %>
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="main-box infographic-box colored red-bg">
                    <%= link_to "Selecionar Plano", companies_plans_path(:id => @company.id) %>
                  </div>
                </div>
                <% else %>
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="main-box infographic-box">
                    <h2>R$ 99,99</h2>
                    <hr/>
                    <span><%= @company.plan.title %></span>
                    <br>
                    <hr/>
                    <button type="button" class="btn btn-primary"><span class="fa fa-pencil"></span> Mudar de plano</button>
                  </div>
                </div>

                <% end %>

              </div>
            </div>

            <div class="tab-pane fade" id="tab-admins">

              <button type="button" class="btn btn-primary">
                <span class="fa fa-plus">&nbsp;</span>
                <%= link_to "Adicionar novo administrador", companies_admins_path, class: "no_anchor_decoration archor_text_color_white" %>
              </button>
              <hr/>

              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th><span>Nome</span></th>
                      <th><span>CPF</span></th>
                      <th><span>Email</span></th>
                      <th><span>Ações</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @company.admins.each do |admin| %>
                    <tr>
                      <td> <%= admin.name %> </td>
                      <td> <%= admin.cpf %> </td>
                      <td> <%= admin.email %> </td>
                      <td> Editar? | Remover? </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="tab-pane clearfix fade" id="tab-membros">

              <button type="button" class="btn btn-primary" href="banana">
                <span class="fa fa-plus">&nbsp;</span>
                <%= link_to "Adicionar novo membro", companies_voters_path, class: "no_anchor_decoration archor_text_color_white" %>
              </button>
              <hr/>

              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th><span>Nome</span></th>
                      <th><span>CPF</span></th>
                      <th><span>Email</span></th>
                      <th><span>Ações</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @company.voters.each do |voter| %>
                    <tr>
                      <td> <%= voter.name %> </td>
                      <td> <%= voter.cpf %> </td>
                      <td> <%= voter.email %> </td>
                      <td> Editar | Remover? </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<h3>Assembléis</h3>

<a href="<%= new_company_moot_path(@company) %>">
  <button type="button" class="btn btn-primary">
    <span class="fa fa-plus">&nbsp;</span>
    Criar nova assembléia
  </button>
</a>

<table class="table colored white-bg table-striped table-hover">
  <thead>
    <th>Asembleia</th>
    <th>Iniciada em</th>
    <th>Status</th>
    <th>Acoes</th>
  </thead>
  <tbody>
    <% @company.moots.each do |moot| %>
      <tr>
        <td> <%= moot.title %> </td>
        <td> <%= moot.voting_start_at.strftime("%d/%m/%Y %H:%M") %> </td>
        <td>
          <% if moot.voting_ending_at > Date.today %>
            <span class="label label-success">Aberta</span>
          <% else %>
            <span class="label label-warning">Encerrada</span>
          <% end %>
        </td>
        <td> <%= link_to "Ver", [moot.company, moot] %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
  

<hr/>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Escolha o plano</h4>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>