<%= form_for(@moot) do |f| %>
  <% if @moot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moot.errors.count, "error") %> prohibited this moot from being saved:</h2>

      <ul>
      <% @moot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :voting_start_at %><br>
    <%= f.datetime_select :voting_start_at %>
  </div>
  <div class="field">
    <%= f.label :voting_ending_at %><br>
    <%= f.datetime_select :voting_ending_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
