<%= form_for [@moot.company, @moot] do |f| %>
  <% if @moot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moot.errors.count, "error") %> prohibited this moot from being saved:</h2>

      <ul>
      <% @moot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Título" %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Descrição" %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Votação inicia em" %><br>
    <%= f.datetime_select :voting_start_at, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Votação encerra em" %><br>
    <%= f.datetime_select :voting_ending_at, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit  "Salvar", class: 'btn btn-primary' %>
  </div>
<% end %>
