<p id="notice"><%= notice %></p>

<h1>Listing Moots</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Voting start at</th>
      <th>Voting ending at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moots.each do |moot| %>
      <tr>
        <td><%= moot.title %></td>
        <td><%= moot.description %></td>
        <td><%= moot.voting_start_at %></td>
        <td><%= moot.voting_ending_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
