<div class="row">

  <a href="<%= company_path(@moot.company) %>">
    <button type="button" class="btn btn-default">
      <span class="fa fa-arrow-left">&nbsp;</span>
      Voltar
    </button>
  </a>
  <br/><br/><br/>

  <h1>Assembléia - <%= @moot.title %> - #<%= @moot.id %></h1>
  <hr>
  <div class="row">
    <!--info //-->
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <div class="main-box infographic-box">
        <p><strong>Responsável: </strong>Fulaninho da Fulanisse</p>
        <p><strong>Descrição:</strong></p>
        <p><%= @moot.description %></p>

        <hr/>
        <a href="<%= edit_company_moot_path(@moot.company, @moot) %>">
          <button type="button" class="btn btn-primary">
            <span class="fa fa-pencil">&nbsp;</span>
            Editar
          </button>
        </a>
      </div>
    </div>

    <!--Usuarios //-->
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <div class="main-box infographic-box colored gray-bg">
        <i class="fa fa-users"></i>
        <span class="headline">Usuários Convocados</span>
        <span class="value infobox-value2">999</span>
        <span class="headline"><a href="#visualizar">Visualizar</a></span>
      </div>
    </div>

    <!--Inicia //-->
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <div class="main-box infographic-box colored green-bg">
        <i class="fa fa-calendar"></i>
        <span class="headline">Inicia em:</span>
        <span class="value infobox-value2"><%= @moot.voting_start_at.strftime("%d/%m/%Y %H:%M") %></span>
        <span class="headline"><a href="#visualizar">Visualizar</a></span>
      </div>
    </div>

    <!--Termina //-->
    <div class="col-lg-3 col-sm-6 col-xs-12">
      <div class="main-box infographic-box colored red-bg">
        <i class="fa fa-calendar"></i>
        <span class="headline">Encerra em:</span>
        <span class="value infobox-value2"><%= @moot.voting_start_at.strftime("%d/%m/%Y %H:%M") %></span>
        <span class="headline"><a href="#visualizar">Visualizar</a></span>
      </div>
    </div>

  </div>

  <hr/>

  <h2>Pautas</h2>
  <div class="row">
    <% @moot.rullings.each do |rulling| %>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="main-box clearfix project-box emerald-box">
        <div class="main-box-body clearfix">
          <div class="project-box-header emerald-bg">
            <div class="name">
              <a>Pauta - <%= rulling.title %> - #<%= rulling.id %></a>
            </div>
          </div>
          <div class="project-box-content">
            <p><%= rulling.description %></p>
          </div>
          <div class="project-box-footer clearfix">
            <a class="no_anchor_decoration">
              <div>
                <p>Votos: 999</p> 
              </div>
            </a>
            <a class="no_anchor_decoration">
              <span class="">Pauta Aceita</span>
            </a>
            <a href="<%= company_moot_rulling_path(rulling.moot.company, rulling.moot, rulling) %>">
              <span class="">Visualizar</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <hr/>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="main-box clearfix">
        <div class="tabs-wrapper profile-tabs">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-comentarios" data-toggle="tab">Comentários</a></li>
            <li><a href="#tab-anexos" data-toggle="tab">Anexos</a></li>
            <li><a href="#tab-regras" data-toggle="tab">Regras</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab-comentarios">
              <div class="conversation-wrapper">
                <div class="conversation-content">
                  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 340px;">
                    <div class="conversation-inner" style="overflow: hidden; width: auto; height: 340px;">
                      <% @moot.moot_comments.each do |comment| %>
                        <div class="conversation-item item-left clearfix">
                          <div class="conversation-user">
                            <img src="http://lorempixel.com/50/50/" alt="">
                          </div>
                          <div class="conversation-body">
                            <div class="name">
                            <%= comment.user.name %>
                            </div>
                            <div class="time hidden-xs">
                              <%= comment.created_at.strftime('%d/%m/%Y %H:%M') %>
                            </div>
                            <div class="text">
                              <%= comment.comment %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 288.279px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);">
                  </div>
                </div>
              </div>
              <div class="conversation-new-message">
                <%= form_for [@moot.company, @moot, @moot.moot_comments.new] do |f| %>
                  <div class="form-group">
                    <%= f.text_area :comment, class: 'form-control', rows: 2, placeholder: 'Digite seu comentário...'  %>
                  </div>
                  <div class="clearfix">
                    <%= f.submit 'Enviar comentário', class: 'btn btn-success pull-right' %>
                  </div>
                <% end %>
              </div>
            </div>

          </div>

          <div class="tab-pane fade" id="tab-anexos">
            <div>
              <%= form_for @moot.attachments.new, html: { multipart: true } do |f| %>
              <%= f.label :attachments, "Adicionar novo anexo" %>
              <%= file_field_tag "path[]", type: :file, multiple: true %>
              <%= f.hidden_field :moot, :value => @moot.id %>
              <%= f.submit "Salvar", class: 'btn btn-primary' %>
              <% end %>
              <script id="template-upload" type="text/x-tmpl"><div class="upload">{%=o.name%}<div class="progress"><div class="bar" style="width: 0%"></div></div></div></script>
            </div>
            <h3>Anexos</h3>
            <div>
              <% if @moot.attachments.empty? %>
              sem anexos
              <% else %>
              <ul>
                <% @moot.attachments.each do |att| %>
                <li> <%= link_to File.basename(att.path.to_s), att.path.url %> </li>
                <% end %>
              </ul>
              <% end %>
            </div>
          </div>

          <div class="tab-pane clearfix fade" id="tab-regras">
            <ul>
              <li> Não vale dedo no olho </li>
              <li> Golpe baixo é proibido </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>