<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @moot.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @moot.description %>
</p>

<p>
  <strong>Voting start at:</strong>
  <%= @moot.voting_start_at %>
</p>

<p>
  <strong>Voting ending at:</strong>
  <%= @moot.voting_ending_at %>
</p>

<hr/>

<h2>Arquivos</h2>

<% if @moot.attachments.empty? %>
  - sem arquivos
<% else %>
  <ul>
    <% @moot.attachments.each do |att| %>
      <li> <%= link_to att.path, att.path.url %> </li>
    <% end %>
  </ul>
<% end %>
<br><br>
<%= form_for @moot.attachments.new, html: { multipart: true } do |f| %>
  <%= f.label :attachments, t('.upload_new_file') %>
    <%= file_field_tag "path[]", type: :file, multiple: true %>
  <%= f.hidden_field :moot, :value => @moot.id %>
  <%= f.submit "Salvar", class: 'btn' %>
<% end %>

<% # jquery upload template # %>
<script id="template-upload" type="text/x-tmpl"><div class="upload">{%=o.name%}<div class="progress"><div class="bar" style="width: 0%"></div></div></div></script>

<hr/>

<h2>Pautas</h2>
<%= link_to "Nova Pauta", new_company_moot_rulling_path(@moot.company, @moot) %>

<hr/>
<br/><br/>

<%= link_to 'Edit', [:edit, @moot.company, @moot] %> |
<%= link_to 'Back', @moot.company %>
