<%= form_for [@rulling.moot.company, @rulling.moot, @rulling] do |f| %>
  <% if @rulling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rulling.errors.count, "error") %> prohibited this rulling from being saved:</h2>

      <ul>
      <% @rulling.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Título" %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Objetivo" %><br>
    <%= f.text_field :objective, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label "Descrição" %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Salvar", class: 'btn btn-primary' %>
  </div>
<% end %>
