<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @rulling.title %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @rulling.objective %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rulling.description %>
</p>

<%= link_to 'Edit', edit_rulling_path(@rulling) %> |
<%= link_to 'Back', rullings_path %>
