!!! 5
%html
  %head
    %title Assembleia :: ADMIN
    = stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.theme-whbl.pace-done
    .theme-wrapper
      %header#header-navbar.navbar
        .container
          = link_to "Assembleias", root_path, class: "navbar-brand"

          .clearfix
            %ul.nav.navbar-nav.navbar-right
              - if user_signed_in?
                %li= link_to "Account", edit_user_registration_path
                %li= link_to "Sign Out", destroy_user_session_path, method: :delete

      .container
        - if notice
          %p.alert.alert-info
            = notice
        - if alert
          %p.alert.alert-danger
            = alert


      #page-wrapper.container
        .row
          #nav-col
            #col-left.col-left-nano
              #col-left-inner.col-left-nano-content
                #user-left-box(class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown")
                  %img(alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/")
                  .user-box
                    .name
                      %a(href="#" class="dropdown-toggle" data-toggle="dropdown")
                        = current_user.name
                        %i.fa.fa-angle-down

                      %ul.dropdown-menu
                        %li
                          = link_to_with_icon("fa fa-power-off", "Sair", destroy_user_session_path, method: :delete)
            / %h3
            /   = current_user.name
            / %p
            /   Último acesso
            /   = current_user.last_sign_in_at.strftime("%d/%m/%Y %H:%M:%S")
            / %p
            /   = link_to "Sair", destroy_user_session_path, method: :delete

            #sidebar-nav.collapse.navbar-collapse.navbar-ex1-collapse
              %ul.nav.nav-pills.nav-stacked
                %li
                  = link_to_with_icon("fa fa-dashboard", "Dashboard", admin_index_path)
                %li
                  = link_to_with_icon "fa fa-building", "Empresas", companies_path
                -# %li
                -#   = link_to "Assembléias", "#"
                / %li
                /   %a(href="#") Profile
                / %li
                /   %a(href="#") Messages

          #content-wrapper
            = yield